body{
	float: center;
	max-width: 700px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	border: 10px solid #b3b8bc;
	padding: 2%;
	font-family: 'Source Sans Pro', sans-serif;
}

div{
	border-bottom: 2px solid #bdc3c7;
}

#date {
	color: #3498db;
	text-transform: uppercase;
}